:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    --background-color: #262524;
    --text-color: #ddddf2;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

p {
    font-size: 0.9rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin-top: 3rem;
}

.album-header h2 {
    padding: 0.7rem 0;
}

.album-grid {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.album-header img {
    width: 415px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.tracks-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.track-row {
    display: grid;
    grid-template-columns: 40px 1.5fr 1.5fr 60px;
    align-items: center;
    color: #8e8e98;
    padding: 12px 16px;
    border-bottom: 1px solid #353432;
    transition: background 0.2s ease, color 0.2s ease;
    column-gap: 1rem;
}

.track-row:hover {
    background: #2c2b2a;
    color: var(--text-color);
}

.track-title {
    font-weight: 500;
}

.track-artist {
    font-size: 0.85rem;
}

.track-duration {
    text-align: right;
}