:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    --background-color: #262524;
    --text-color: #ddddf2;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: text-field;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

h1,
h2,
h3,
p {
    margin: 0;
}

p {
    font-size: 0.9rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin-top: 3rem;
    padding: 0 2rem;
}

main>h2 {
    padding-bottom: 0.5rem;
}

.album-form {
    padding: 0.6rem 2.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}


.input-field label {
    font-weight: 600;
    font-size: 1.1rem;
}

.input-field input,
.input-field select {
    padding: 0.7rem 1.2rem;
    border: none;
    text-align: left;
    border-radius: 10px;
    background: #2c2b2ab2;
    font-size: 0.9rem;
    color: var(--text-color);
    border: solid 1px var(--text-color);
}

.input-field input:focus {
    outline: none;
}

.album-form button {
    width: 30%;
    margin: 0.5rem auto;
    border-radius: 10px;
    background-color: #2c2b2a;
    color: var(--text-color);
    border: solid 1px var(--text-color);
    cursor: pointer;
    padding: 0.7rem 0.6rem;
}