:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    --background-color: #262524;
    --text-color: #ddddf2;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

p {
    font-size: 0.9rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin-top: 3rem;
    padding: 0 2rem;
}

.genre-header {
    padding: 1.5rem 0;
}

.genre-header p {
    padding-top: 0.6rem;
    font-size: 1.1rem;
}

.result-grid h2 {
    padding-bottom: 0.6rem;
}

.album-grid {
    display: flex;
    gap: 2rem;
}

img {
    border-radius: 8px;
}