* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 20%;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 2rem;
}

.nav-list li {
    list-style-type: none;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    background: none;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
    color: var(--text-color);
    transition: opacity 0.2 ease;
}

.search-icon:hover svg {
    opacity: 0.7;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input {
    width: 180px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background: #2c2b2a;
    color: var(--text-color);
}

.search-form input:focus {
    outline: none;
}