ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 20%;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-list {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    gap: 2rem;
}

.nav-list li {
    list-style-type: none;
}